#### 31. Write a program that would print all the odd numbers from 1 to 255.

In [2]:
def odd_numbers_upto(n):
    if n < 1:
        return "Please enter a number greater than 0"
    return [i for i in range(1,n) if i % 2 != 0]

print(odd_numbers_upto(20))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 32. Write a program that would print all the numbers between given range.

In [5]:
def print_numbers(start, stop):
    return list(range(start+1,stop))

result = print_numbers(1, 12)
print(result)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

#### 33. Write a program that takes an array, and prints the AVERAGE of the values in the array.

In [2]:
def average_of_array(array):
    return sum(array)/len(array)

array = [2, 10, 3]
print(int(average_of_array(array)))

5

#### 34. Write python program to convert list to flatten?

In [7]:
def flatten_list(list_):
    flatten_list = [] 
    for item in list_:
        if isinstance(item, list):
            flatten_list.extend(item) 
        else:
            flatten_list.append(item)  
    return flatten_list

nested_list = [1, [2, 3], [4, 5, 6], 7]
result = flatten_list(nested_list)
print(result)

[1, 2, 3, 4, 5, 6, 7]